{% extends "config_base.html" %}
{% block table_add %}


<form action="{{ url_for('configtool.config_add_api', table=table) }}" method="post" class="form-horizontal">
  <div class="form-group">
    <h2>DB</h2>
  </div>

  <div class="form-group">
    <label for="DBInputID" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="DBInputID" name="DBInputID" placeholder="自动生成" {% if item %}value="{{ item.ID }}" {% endif %} readonly>
    </div>
  </div>

  <div class="form-group">
    <label for="DBInputLANIP" class="col-sm-2 control-label">局域网IP</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="DBInputLANIP" name="DBInputLANIP" placeholder="局域网IP" maxlength="32" {% if item %}value="{{ item.LANIP }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label for="DBInputIP" class="col-sm-2 control-label">外网IP</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="DBInputIP" name="DBInputIP" placeholder="外网IP" maxlength="32" {% if item %}value="{{ item.IP }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label for="DBInputUser" class="col-sm-2 control-label">用户</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="DBInputUser" name="DBInputUser" placeholder="用户" maxlength="16" {% if item %}value="{{ item.User }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label for="DBInputPassword" class="col-sm-2 control-label">密码</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="DBInputPassword" name="DBInputPassword" placeholder="密码" maxlength="32" {% if item %}value="{{ item.Password }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label for="DBInputAddon" class="col-sm-2 control-label">创建时间</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="DBInputAddon" name="DBInputAddon" placeholder="自动生成" {% if item %}value="{{ item.Addon }}" {% endif %} readonly>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success btn-lg right">提交</button>
  </div>

</form>


{% endblock %}
