{% extends "config_base.html" %}
{% block table_add %}

<form action="{{ url_for('config_add_api', table=table) }}" method="post" class="form-horizontal">
  <div class="form-group">
    <h2>Kafka</h2>
  </div>

  <div class="form-group">
    <label for="KafkaInputID" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="KafkaInputID" name="KafkaInputID" placeholder="自动生成" {% if item %}value="{{ item.ID }}" {% endif %} readonly>
    </div>
  </div>

  <div class="form-group">
    <label for="KafkaInputHostID" class="col-sm-2 control-label">KafkaHost的ID</label>
    <div class="col-sm-10">
      <select class="form-control" id="KafkaInputHostID" name="KafkaInputHostID">
        {% for row in kafkahost_all %}
        <option value={{ row.ID }} {% if item %}{% if item.HostID == row.ID %} selected="selected" {% endif %}{% endif %}>{{ row.ID }}:&nbsp{{ row.Host }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp描述：{{ row.Desc }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="KafkaInputCustomerTopic" class="col-sm-2 control-label">CustomerTopic</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="KafkaInputCustomerTopic" name="KafkaInputCustomerTopic" placeholder="获取数据的Topic" {% if item %}value="{{ item.CustomerTopic }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label for="KafkaInputProducerTopic" class="col-sm-2 control-label">ProducerTopic</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="KafkaInputProducerTopic" name="KafkaInputProducerTopic" placeholder="发送数据的Topic" {% if item %}value="{{ item.ProducerTopic }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label for="KafkaInputAnalyzeTopic" class="col-sm-2 control-label">AnalyzeTopic</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="KafkaInputAnalyzeTopic" name="KafkaInputAnalyzeTopic" placeholder="发送统计数据的Topic" {% if item %}value="{{ item.AnalyzeTopic }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label for="KafkaInputGroupName" class="col-sm-2 control-label">组名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="KafkaInputGroupName" name="KafkaInputGroupName" placeholder="组名" {% if item %}value="{{ item.GroupName }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">是否自动提交</label>
    <div class="radio col-sm-10">
      <label>
        <input type="radio" name="KafkaInputAutoCommit" id="option1" value=0 checked>
        否
      </label>
      <label>
        <input type="radio" name="KafkaInputAutoCommit" id="option2" value=1 {% if item %}{% if item.AutoCommit == 1 %} checked {% endif %}{% endif %}>
        是
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">是否从头开始</label>
    <div class="radio col-sm-10">
      <label>
        <input type="radio" name="KafkaInputFromBegin" id="FromBeginOption1" value=0 checked>
        否
      </label>
      <label>
        <input type="radio" name="KafkaInputFromBegin" id="FromBeginOption2" value=1 {% if item %}{% if item.FromBegin == 1 %} checked {% endif %}{% endif %}>
        是
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="KafkaInputDesc" class="col-sm-2 control-label">描述</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="KafkaInputDesc" name="KafkaInputDesc" placeholder="简单描述" {% if item %}value="{{ item.Desc }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label for="KafkaInputAddon" class="col-sm-2 control-label">创建时间</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="KafkaInputAddon" name="KafkaInputAddon" placeholder="自动生成" {% if item %}value="{{ item.Addon }}" {% endif %} readonly>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success btn-lg right">提交</button>
  </div>

</form>

{% endblock %}