{% extends "config_base.html" %}
{% block table_add %}


<form action="{{ url_for('configtool.config_add_api', table=table) }}" method="post" class="form-horizontal">
  <div class="form-group">
    <h2>SSDB</h2>
  </div>

  <label for="SSDBInputID" class="sr-only">ID
    <input type="number" id="SSDBInputID" name="SSDBInputID" {% if item %}value="{{ item.ID }}" {% endif %} readonly>
  </label>

  <div class="form-group">
    <label for="SSDBInputLANIP" class="col-sm-2 control-label">内网IP</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="SSDBInputLANIP" name="SSDBInputLANIP" placeholder="内网IP" maxlength="32" {% if item %}value="{{ item.LANIP }}" {% endif %} required>
    </div>
  </div>

  <div class="form-group">
    <label for="SSDBInputPort" class="col-sm-2 control-label">端口</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="SSDBInputPort" name="SSDBInputPort" placeholder="端口" maxlength="11" {% if item %}value="{{ item.Port }}" {% endif %} required>
    </div>
  </div>

  <div class="form-group">
    <label for="SSDBInputDesc" class="col-sm-2 control-label">描述</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="SSDBInputDesc" name="SSDBInputDesc" placeholder="描述" maxlength="120" {% if item %}value="{{ item.Desc }}" {% endif %} required>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success btn-lg right">提交</button>
    <button type="button" class="btn btn-success btn-lg right" onclick="history.go(-1)">返回</button>
  </div>

</form>


{% endblock %}
