{% extends "config_base.html" %}
{% block table_add %}


<form action="{{ url_for('configtool.config_add_api', table=table) }}" method="post" class="form-horizontal">
  <div class="form-group">
    <h2>Type</h2>
  </div>

  <div class="form-group">
    <label for="TypeInputID" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="TypeInputID" name="TypeInputID" placeholder="自动生成" {% if item %}value="{{ item.ID }}" {% endif %} readonly>
    </div>
  </div>

  <div class="form-group">
    <label for="TypeInputCode" class="col-sm-2 control-label">聚类类型</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="TypeInputCode" name="TypeInputCode" placeholder="聚类类型" maxlength="32" {% if item %}value="{{ item.Code }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label for="TypeInputDesc" class="col-sm-2 control-label">描述</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="TypeInputDesc" name="TypeInputDesc" placeholder="描述" maxlength="120" {% if item %}value="{{ item.Desc }}" {% endif %}>
    </div>
  </div>

  <div class="form-group">
    <label for="TypeInputAddon" class="col-sm-2 control-label">创建时间</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="TypeInputAddon" name="TypeInputAddon" placeholder="自动生成" {% if item %}value="{{ item.Addon }}" {% endif %} readonly>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success btn-lg right">提交</button>
    <button type="button" class="btn btn-success btn-lg right" onclick="history.go(-1)">返回</button>
  </div>

</form>


{% endblock %}
