{% extends "__base__.html" %}
{% block content %}
{% import '_macros.html' as macros %}

<div class="table table-responsive">
    <table class="table table-striped">

        <p class="main_hard">
            <label>用户配置</label>
        </p>

        <thead>
            <tr>
                <th>ID</th>
                <th>UserName</th>
                <th>Password</th>
                <th>CreateDate</th>
            </tr>
        </thead>

        <tbody>
            {% for row in data_list %}
                <tr>
                    <td>{{ row.ID }}</td>
                    <td>{{ row.UserName }}</td>
                    <td>******</td>
                    <td>{{ row.CreateDate }}</td>
                    <td>
                    <a href="{{ url_for('user.modify', user_id=row.ID) }}">编辑</a>&nbsp&nbsp
                    <a href="{{ url_for('user.delete', user_id=row.ID) }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <div class="pagination">
    {%if pagination%}
        {{macros.pagination_widget(pagination,'user.manager')}}
    {%endif%}
    </div>
    <p class="main_leg">
        <a href="{{ url_for('user.signup') }}" class="btn-lg btn-success">新增</a>
    </p>
</div>

{% endblock %}