{% extends "config_base.html" %}
{% block table_body %}
{% import '_macros.html' as macros %}

<div class="table table-responsive">
    <table class="table table-striped">

        <p class="main_hard">
            <label>程序配置</label>
        </p>

        <thead>
            <tr>
                <th>ID</th>
                <th>Day</th>
                <th>MaxKwsCount</th>
                <th>MaxEntityCount</th>
                <th>Expired</th>
                <th>SSDBExpired</th>
                <th>SkipSiteTypes</th>
                <th>IsNeedStatistic</th>
                <th>Desc</th>
                <th>Addon</th>
            </tr>
        </thead>

        <tbody>
            {% for row in data_list %}
                <tr>
                    <td>{{ row.ID }}</td>
                    <td>{{ row.Day }}</td>
                    <td>{{ row.MaxKwsCount }}</td>
                    <td>{{ row.MaxEntityCount }}</td>
                    <td>{{ row.Expired }}</td>
                    <td>{{ row.SSDBExpired }}</td>
                    <td>{{ row.SkipSiteTypes }}</td>
                    <td>{{ row.IsNeedStatistic }}</td>
                    <td>{{ row.Desc }}</td>
                    <td>{{ row.Addon }}</td>
                    <td>
                    <a href="{{ url_for('configtool.config_modify', table=table, item_id=row.ID) }}">编辑</a>&nbsp&nbsp
                    <a href="{{ url_for('configtool.config_delete', table=table, item_id=row.ID) }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
    {%if pagination%}
        {{macros.pagination_widget(pagination,'configtool.config_tool', table=table)}}
    {%endif%}
    </div>
    <p class="main_leg">
        <a href="{{ url_for('configtool.config_add', table=table) }}" class="btn-lg btn-success">新增</a>
    </p>
</div>

{% endblock %}