{% extends "__base__.html" %}
{% block content %}

<div class="container">
    <form class="form-signin" action="{{ url_for('signup') }}" method="post">
        <h2 class="form-signin-heading">注册用户</h2>

        {% if error %}<label type="error">错误: {{ error }}{% endif %}</label>

        <label for="inputName" class="sr-only">用户名</label>
        <input name="username" type="text" id="inputName" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="密码" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">注册</button>
    </form>

</div> <!-- /container -->

{% endblock %}
