/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/*
 * Main content
 */

.main {
  padding: 15px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.main .page-header {
  margin-top: 0;
}

.main_leg a{
  float: right;
}

.main_hard label{
  font-size: 35px;
  float: left;
}

.right{
  float: right;
  margin-left: 10px;
}

.pagination{
  margin: 0px;
}