{% extends "config_base.html" %}
{% block table_body %}
<div class="table table-responsive">
    <table class="table table-striped">
        <p class="main_hard">
            <label>主配置</label>
        </p>

        <thead>
            <tr>
                <th>ID</th>
                <th>DBID</th>
                <th>KafkaHostID</th>
                <th>KafkaID</th>
                <th>ProgramID</th>
                <th>SSDBID</th>
                <th>Sign</th>
                <th>Addon</th>
            </tr>
        </thead>

        <tbody>
            {% for row in data_list %}
                <tr>
                    <td>{{ row.ID }}</td>
                    <td>{{ row.DBID }}</td>
                    <td>{{ row.KafkaHostID }}</td>
                    <td>{{ row.KafkaID }}</td>
                    <td>{{ row.ProgramID }}</td>
                    <td>{{ row.SSDBID }}</td>
                    <td>{{ row.Sign }}</td>
                    <td>{{ row.Addon }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <p class="main_leg">
        <a href="{{ url_for('config_add', table=table) }}" class="btn-lg btn-success">新增</a>
    </p>
</div>

{% endblock %}