{% extends "config_base.html" %}
{% block table_body %}

<div class="table table-responsive">
    <table class="table table-striped">

        <p class="main_hard">
            <label>Kafka主机配置</label>
        </p>

        <thead>
            <tr>
                <th>ID</th>
                <th>Host</th>
                <th>Desc</th>
                <th>Addon</th>
            </tr>
        </thead>

        <tbody>
            {% for row in data_list %}
                <tr>
                    <td>{{ row.ID }}</td>
                    <td>{{ row.Host }}</td>
                    <td>{{ row.Desc }}</td>
                    <td>{{ row.Addon }}</td>
                    <td>
                    <a href="{{ url_for('configtool.config_modify', table=table, item_id=row.ID) }}">编辑</a>&nbsp&nbsp
                    <a href="{{ url_for('configtool.config_delete', table=table, item_id=row.ID) }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="main_leg">
        <a href="{{ url_for('configtool.config_add', table=table) }}" class="btn-lg btn-success">新增</a>
    </p>
</div>

{% endblock %}