{% extends "config_base.html" %}
{% block table_body %}

<div class="table table-responsive">
    <table class="table table-striped">

        <p class="main_hard">
            <label>{{ table }}</label>
            <a href="{{ url_for('config_add', table=table) }}">新增</a>
        </p>

        <thead>
            <tr>
                <th>ID</th>
                <th>MaxKwsCount</th>
                <th>MaxEntityCount</th>
                <th>Expired</th>
                <th>SSDBExpired</th>
                <th>Desc</th>
                <th>Addon</th>
            </tr>
        </thead>

        <tbody>
            {% for row in data_list %}
                <tr>
                    <td>{{ row.ID }}</td>
                    <td>{{ row.MaxKwsCount }}</td>
                    <td>{{ row.MaxEntityCount }}</td>
                    <td>{{ row.Expired }}</td>
                    <td>{{ row.SSDBExpired }}</td>
                    <td>{{ row.Desc }}</td>
                    <td>{{ row.Addon }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}